<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}"/>

</head>
<body>
<div class="col" layout:fragment="content">
    <div class="jumbotron">
        <h2 class="display-4">Добро пожаловать в портал техподдержки проекта RBorodin</h2>
        <hr class="my-4">
        <p class="lead">Для продолжения работы требуется авторизация</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/homepage" role="button">Войти</a>
        </p>
    </div>
</div>
</body>
</html>
